<div class="container">

</br>
</br>
</br>


<div class="user-show-username">
	<p> Explorador adventures by </p>
	<p id="exact-username"><%= @user.email %></p>
</div>


<div class="follow-button">

	<% if current_user.following?(@user) %>
		<%= button_to "Following", {action:'unfollow', id:@user.id}, method: 'post', :class => "for-following-button"%>
	<% elsif current_user.id != @user %>
		<%= button_to "Follow", {action:'follow', id:@user.id}, method: 'post', :class => "for-follow-button" %>
<% end %>
</div>



	<div class="row" id="user-show-cards">
  	<% if current_user == nil %>
  		<% @listedplans.each do |plan| %>
			<div class="col-sm-4">

			 <div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://images.unsplash.com/photo-1529260830199-42c24126f198?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db2463844a4685d360f7ac77495c069a&auto=format&fit=crop&w=2110&q=80" alt="Card image cap" id="index-image">
				    <div class="card-body">
				    	<div class="index-place-details">
						      <div class="card-title">
						      	<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png" alt="icon" id="place-icon"/>
						      	<%= plan.address %>


						      </div>
							 	</div>

					      <p class="card-text">

					      	<p><%= plan.description %></p>

					      </p>

				    </div>
				  <div class="card-footer" id="index-card-footer">
				   <%= link_to "EXPLORE", new_user_session_path, :class => "nav-link", :style => "color:#FFFFFF;" %>

				    </div>
				  </div>
				</div> </br>

		</div>
		<% end %>

		<% else %>

		<% @listedplans.each do |plan| %>
    <div class="col-sm-4">

			 <div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://images.unsplash.com/photo-1529260830199-42c24126f198?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db2463844a4685d360f7ac77495c069a&auto=format&fit=crop&w=2110&q=80" alt="Card image cap" id="index-image">
				    <div class="card-body">
				    	<div class="index-place-details">
						      <div class="card-title">
						      	<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png" alt="icon" id="place-icon"/>
						      	<%= plan.address %>


						      </div>
							 	</div>

					      <p class="card-text">

					      	<p><%= plan.description %></p>

					      </p>

				    </div>
				  <div class="card-footer" id="index-card-footer">
				   <%= link_to "EXPLORE", user_plan_path(user_id: current_user.id, id: plan.id), :style => 'color:white; font-weight:bold' %>

				    </div>
				  </div>
				</div> </br>

		</div>
		<% end %>
		<% end %>
	</div>


</div>