

<!--
	<div class="banner">

		<img src="https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc1407c2a550b0ebf3def8b81fa7b4a2&auto=format&fit=crop&w=2266&q=80"/>

	</div>
 -->


<div class="banner">
	<div class="banner-text">
		<p>The</p>
		<p>Adventure</p>
		<p>Begins</p>
	</div>
</div>
<div class="container">
</br>



<div class="titlebg">
	<h1>Welcome to Explorador</h1>
</div>
<% if current_user %>
	<div class="show-username">

	<%= current_user.email %>

</div>
<% end %>


<% if current_user %>
<div class="create-plan-button">
	<%= link_to " + SHARE YOUR EXPLORATIONS", new_user_plan_url(user_id: current_user.id), :id => "", :style => "color:white; font-size: 15px; font-weight:bold" %>
</div>

<% else %>

	<div class="create-plan-button">
	<%= link_to " + SHARE YOUR EXPLORATIONS", new_user_session_path, :id => "", :style => "color:white; font-size: 15px; font-weight:bold" %>
</div>


<% end %>

</br>
</br>

  <div class="row">
  	<% if current_user == nil %>
  		<% @plans.each do |plan| %>
			<div class="col-sm-4">

			 <div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://images.unsplash.com/photo-1529260830199-42c24126f198?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db2463844a4685d360f7ac77495c069a&auto=format&fit=crop&w=2110&q=80" alt="Card image cap" id="index-image">
				    <div class="card-body">
				    	<div class="index-place-details">
						      <div class="card-title">
						      	<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png" alt="icon" id="place-icon"/>
						      	<%= plan.address %>


						      </div>
							 	</div>

					      <p class="card-text">

					      	<p><%= plan.description %></p>

					      </p>

				    </div>
				  <div class="card-footer" id="index-card-footer">
				   <%= link_to "EXPLORE", new_user_session_path, :class => "nav-link", :style => "color:#FFFFFF;" %>

				    </div>
				  </div>
				</div> </br>

		</div>
		<% end %>

		<% else %>

		<% @plans.each do |plan| %>
    <div class="col-sm-4">

			 <div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://images.unsplash.com/photo-1529260830199-42c24126f198?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db2463844a4685d360f7ac77495c069a&auto=format&fit=crop&w=2110&q=80" alt="Card image cap" id="index-image">
				    <div class="card-body">
				    	<div class="index-place-details">
						      <div class="card-title">
						      	<img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-512.png" alt="icon" id="place-icon"/>
						      	<%= plan.address %>


						      </div>
							 	</div>

					      <p class="card-text">

					      	<p><%= plan.description %></p>

					      </p>

				    </div>
				  <div class="card-footer" id="index-card-footer">
				   <%= link_to "EXPLORE", user_plan_path(user_id: current_user.id, id: plan.id), :style => 'color:white; font-weight:bold' %>

				    </div>
				  </div>
				</div> </br>

		</div>
		<% end %>
		<% end %>
	</div>
</div>

