<div class="banner">



	<div class="banner-show-text">
			<h2><%= @plan.title %></h2>
		  <p class="username-show">	<%= link_to @plan.user.username, user_path(@plan.user_id), :style => 'color:white;' %></p>
	<% if current_user.email == @plan.user.email %>
			<button class="edit-show-button"><%= link_to 'EDIT', edit_user_plan_path, :style => 'color:white; font-weight:light' %></button>
	<% end %>

	</div>




</div>

<div class="container">
<!--
	<ul>
		<li>One</li>
		<li>Two</li>
		<li>Three</li>
		<li>Four</li>
	<ul> -->

<div class="showplan-container">

		<div class="plan-details">

				  <p class="show-list" id="show-address"><%= @plan.address %> </p>

				  <p class="show-list"><%= @plan.description %> </p></br>

				 <!--  <p><%= @plan.activities %></p> </br> -->

				  <%= cl_image_tag(@plan.image_url, :width => 150, :height => 150) %></br>



		</div>



		<style>
		      /* Always set the map height explicitly to define the size of the div
		       * element that contains the map. */
		      #map {
		        height: 300px;
		        width: 100%;
		      }


		    </style>
		<div class="map-container">
			 <div id="map"></div>
			 <div class="comments-block">

			 	<%= form_with scope: :comment, url: user_plan_comments_path(user_id: current_user.id, plan_id: @plan.id), local: true do |form| %>

			 	<p>
			 		<%= form.label :user_comment, "Add Comment" %></br>
			 		<%= form.text_area :user_comment , :class => "comment-fill-box" %>
			 	</p>

			 	<p>
			 		<%= form.submit 'post comment' %>
			 	</p>
			<% end %>
				<div class ="table-responsive-sm">
					<table class="table table-sm">
						<thead class="comment-table-headings">
							<tr>
								<th scope="col" class="username-heading">Username</th>
								<th scope="col">Comment</th>
								<th scope="col">Edit</th>
								<th scope="col" class="delete-heading">Delete</th>
							</tr>
						</thead>
						<tbody>
						<% @comments.each do |comment| %>
						<tr class="comment-entry">
							<td><%= current_user.email %></td>
							<td><%= comment.user_comment %></td>
							<td><%= link_to '...', edit_user_plan_comment_path(user_id: current_user.id, plan_id: @plan.id, id: comment.id), :style => 'color:white; font-weight:bold'%></td>
							<td><%= link_to 'X', user_plan_comment_path(user_id: current_user.id, plan_id: @plan.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:white; font-weight:bold'%></td>
						</tr>
						<% end %>
						</tbody>
					</table>
				</div>
				<div>

				</div>


			    <script>
			      var map;


			      function initMap() {
			        map = new google.maps.Map(document.getElementById('map'), {
			          center: {lat:<%= @plan.latitude %>, lng:<%= @plan.longitude %>},
			          zoom: 13
			        });

			        var marker = new google.maps.Marker({
			    position: {lat:<%= @plan.latitude %>, lng:<%= @plan.longitude %>},
			    map: map,
			    title: 'Hello World!'
			  });
			      }
			    </script>
			    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS44YowqX6GSGqDQjm1q7gkLSEYuhEWtA&callback=initMap" async defer></script>

		</div>

	</div>

 </div>





