<div class="container">

<p>
	  <strong><%= @plan.title %></strong>

</p>

	<p>
	  <strong>Location</strong>
	  <%= @plan.address %>
	</p>

	<p>
	  <strong>Description</strong>
	  <%= @plan.description %>
	</p>

	<p>
	  <strong>Activities</strong>
	  <%= @plan.activities %>
	</p>

	<p>
	  <strong>Image</strong></br>
	  <%= cl_image_tag(@plan.image_url, :width => 150, :height => 150) %>
	</p>


	<%= link_to 'Back', user_plans_path %> </br>

	<%= link_to 'Index page', controller: 'plans' %>

</div>
