<div class="container">

<p>
	  <strong>Country</strong>
	  <%= @plan.country %>
	</p>

	<p>
	  <strong>City</strong>
	  <%= @plan.city %>
	</p>

	<p>
	  <strong>Date</strong>
	  <%= @plan.datetime %>
	</p>

	<%= link_to 'Back', plans_path %> </br>

	<%= link_to 'Index page', controller: 'plans' %>

</div>
